<!DOCTYPE html>
<html>
  <head>
    <title>BluTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property='og:title' content='BluTube'/>
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://www.blu-tube.com/#/' />
    <meta property='og:description' content='A YouTube clone utilizing a full stack of Ruby on Rails, PostreSQL, React, Redux, JavaScript, and AWS.' />
    <meta property='og:image' content="<%= image_url('preview.jpg') %>" />
    <meta name="twitter:card" content="summary_large_image">

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.logoIcon = "<%= image_url('logo-icon.png') %>";
    </script>

      <% if logged_in? %>
        <script type="text/javascript">
        

            window.currentUser = 
             <%= render(partial: "api/users/user", 
             formats: [:json], 
                handlers: [:jbuilder],
                locals: { user: current_user }).html_safe %> 
                
        
              
        </script>
      <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
